/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset opcional para evitar márgenes por defecto */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}
    